.navbar-bg{
    background: gainsboro !important;
}

.colorGeneral{
  background: linear-gradient(135deg, #90324b 0%, #90324b 80%) !important;
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}
.colorGeneral:hover{
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.textColorGeneral{
  color: #7b253d !important;
}

.large-text {
  font-size: 17px !important;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}
.whatsapp-image {
  width: 50px; /* Ajusta este valor para cambiar el tamaño de la imagen */
  height: auto;
}